<div class="io-box box-shadow upload-remove-photo profile-uploadbox">
	<div class="io-box-header">
		<div class="pull-left">
			<div class="heading">
				<i aria-hidden="true" class="io-icon io-info topsite-info"></i>Update profile photo
				<div class="io-info-container">
                    <div class="io-info-box box-shadow">
                        <div class="info-body">
                            <p>Please note your photo should be at least 300px X 300px.</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="info-body-row info-body col-sm-12 total-view-click profile-textbox">
		<div class="upload-img-box">
			<div ng-show="vm.uploadPhotoModel.selectedImage == './images/icons/default-profile-icon.png'" class="col-sm-3">
				<div style="display: table;margin: auto;position: relative;">
					<img ng-src="./images/icons/default-profile-icon.png">
				</div>			
			</div>
			<profileimg ng-show="vm.uploadPhotoModel.selectedImage != './images/icons/default-profile-icon.png'" image="vm.uploadPhotoModel.selectedImage" showremove="vm.uploadPhotoModel.showRemove" images="vm.uploadPhotoModel.images" remove="vm.removePhoto()" ></profileimg>
			<div class="mrg-top-02">
				<!--<p>Photo should be at least 300px X 300px</p> -->
				<div class="row">
					<div class="col-sm-9 mrg-top-40 pdd-top-15">
						<input type="button" value="Browse" ng-click="vm.uploadFromButton()" class="upload-btn profile-btn" >
						<input type="button" value="Save" ng-click="vm.uploadPhoto()" class="btn-radius mrg-lt-20 bg-gray clr-white btn-cal green-btn profile-btn" style="margin-right: 0;">
						<!-- <input type="button" value="Remove"  class="upload-btn" style="width:100px; font-size: 15px;"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>