<div class="col-sm-12">
  <div class="row bg-gray-3 pdd-top-bot-15 mrg-bot-15">
    <div class="col-sm-3 mrg-bot-20 no-pdd-lt"><img src={{imageSrc}} class="img-responsive"></div>

    <div class="col-xs-9 pdd-top-15">
      <h4 class="clr-black-1 word-break"><b>{{title}}</b></h4>
        <h5 class="clr-black-1 word-break">
          {{description}}</h5>
        <h5 class="clr-black-1 word-break">
          {{url}}</h5>
    </div>
  </div>


  <div class="modal-cls-icon">
    <a data-dismiss="modal" ng-click="cancel()"> <img src="images/icons/close-icon.png"></a>
  </div>
</div>
<div class="clearfix"></div>