<div>
	<div class="pdd-top-bot-15-lt-rt-30 pdd-lt-rt-15"><div class="pull-right" ng-click="closeModal()" data-dismiss="modal"><a href="javascript:void(0);"><i class="io-icon io-cross-alertmsgs" aria-hidden="true"></i></a></div></div>
	<div class="form-group heading text-center text-info mrg-top-10 pdd-top-bot-30">
		<div class="">
			<img src="images/icons/success-msg-icon.png" />
		</div>
		<div class="pdd-25 cpnalert-text-normal">{{confirmationMessage}}</div>
	</div>
</div>

<!--<div class="modal-body pdd-10">
    <div class="pull-right" ng-click="closeModal()"><a href="javascript:void(0);"><i class="io-icon io-crose-red" aria-hidden="true"></i></a></div>
<div class="manange-modal">
    <div class="form-group heading text-center text-info">
    <div class="mrg-bot-30" style="margin-top: 12px;">
    <img src="images/icons/check-1.png">
    </div>
        {{confirmationMessage}}
    </div>-->
    <!--<div class="text-center">
        <button type="button" ng-click="confirmYes()" class="btn btn-primary btn-md">  Yes  </button>&nbsp;&nbsp; &nbsp;  
        <button type="button" ng-click="confirmNo()" class="btn btn-default btn-md">  No  </button>
    </div>-->
<!--</div>
</div>-->