<div>
	<div class="pdd-top-bot-15-lt-rt-30 pdd-lt-rt-15"><div class="pull-right" ng-click="closeModal()" data-dismiss="modal"><a href="javascript:void(0);"><i class="io-icon io-cross-alertmsgs" aria-hidden="true"></i></a></div></div>
	<div class="form-group heading text-center text-info mrg-top-10 pdd-top-bot-30">
		<div class="">
			<img src="images/icons/success-msg-icon.png" />
		</div>
		<div class="pdd-25 cpnalert-text-normal" ng-bind-html="confirmationMessage.msg"></div>
	</div>
</div>

<!--<div>
<div class="pdd-top-bot-15-lt-rt-30 pdd-lt-rt-15"><div class="pull-right" ng-click="closeModal()"><a href="javascript:void(0);"><i class="io-icon io-cross-msgs" aria-hidden="true"></i></a></div></div>
    <div class="form-group heading text-center text-info mrg-top-20">
	    <div class="conformation-msg-box">
	    	<div class="confbox"><i class="{{confirmationMessage.css}}" aria-hidden="true"></i></div>
	    </div>
        <div class="pdd-25 cpnalert-text-normal">{{confirmationMessage.msg}}</div>
    </div>
</div>-->