<div class="col-xs-12">
    <div class="row">
        <div class="wizard-steps-indicator">
            <div class="wizard">
      
             <div class="wizard-contain">
                <ul class="steps-indicator steps-{{getEnabledSteps().length}}" ng-if="!hideIndicators">
                    <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}"
                        ng-repeat="step in getEnabledSteps()">
                        <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="steps" ng-transclude></div>
        </div>
    </div>
</div>