<div class="main">
	<div class="row">
		<div class="col-sm-8">
			<div class="io-box box-shadow">
				<div class="io-box-header">
					<div class="pull-left">
						<div class="heading">
							 BUTTON OR LINK LAYOUT CUSTOMISATION
							<div class="io-info-container">
								<div class="io-info-box box-shadow">
									<div class="info-body">
										<p>
											Create a custom notification that can be used to display special offers and deals through a little pop up box in the users'
											browser.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		<div class="io-page-body subscription-layout pdd-bot-5">
			<form name="saveForm">
	           <div class="cmpn-container welcome-page">
	              <!--   <div class="grp-select-box">
				       <input type="checkbox" name="pushSecond" id="pushSecond" ng-model="vm.customNotificationDetails.checkFlag" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                       <label class="io-icon io-checkbox-uncheck" for="pushSecond"></label> Display push notifications permission box after <input  type="number" step="any" name="second" min="0" value="0" ng-model="vm.customNotificationDetails.delayTime" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="sbscrpsn-number" /> seconds.       
				      </div> -->
				      <div class="row">
				        <div class="col-sm-12">
				         <div class="add-content-box add-without-content">
				          <div class="row">
				           <div class="col-sm-12">
				           	<div class="cmpn-title-head">
				           		<input type="radio" name="buttonLinks" id="buttonLink" ng-click="vm.selectButton()" ng-model="vm.customNotificationDetails.buttonType" value="button">
				           		<label class="io-icon io-radio-select" for="buttonLink"> <strong>BUTTON LAYOUT</strong></label>
				           	</div>
				           
				           <div class="row">
				           	<div class="cmpn-title-head col-sm-5">
				             <div class="" id="title"><input type="text" maxlength="20" ng- class="" ng-disabled="vm.buttontype === 'link'" ng-model="vm.customNotificationDetails.allowText" placeholder="Button text"/></div>
				            </div>
				            
				             	
				            <div class="col-sm-7">
				            	<div class="row cmpn-title-head box-clr-pkr">
						         	<div class="col-sm-6 clpkr-clrfloat">
						         		
										      <div id="cp1" class="input-group colorpicker-component colorpicker-element">
										          <input type="text" value="#00AABB"   ng-model="vm.customNotificationDetails.allowBtnBackgroundColor" class="form-control" placeholder="Text color code">
										          <span class="input-group-addon">
											          <span class="arrow-bg">
											          	<i style="background-color: {{vm.customNotificationDetails.allowBtnBackgroundColor}};"></i>
											          	<span class="caret"></span>
											          </span>
											      </span>
										      </div>
										   
						         	</div>
						         	<div class="col-sm-6 clpkr-clrfloat">
						         		
										      <div id="cp2" class="input-group colorpicker-component colorpicker-element">
										          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.allowBtnColor" class="form-control" placeholder="Background color code">
										          <span class="input-group-addon">
										          	<span class="arrow-bg">
										          		<i style="background-color: {{vm.customNotificationDetails.allowBtnColor}};"></i>
										          		<span class="caret"></span>
										          	</span>
										          </span>
										      </div>
										     
										  
						         	</div>
						         </div> 
				            </div>
				            </div>
				            
				            <div class="border-gray-bot">
				            <div class="row">
				            	<div class="cmpn-title-head col-sm-9">
				           		<div class="copycode"><textarea type="text" ng-disabled="true"  maxlength="10000" class="code-placed" style="width:94%">{{vm.buttonCopyCode}}</textarea></div>
				           	</div>
				           	<div class="clearfix"></div>
				           	</div>
				          </div>
				          
				            
				            <div class="cmpn-title-head mrg-top-25">
				           		<input type="radio" name="buttonLinks" id="linkButton"  ng-model="vm.customNotificationDetails.buttonType" value="link" ng-click="vm.selectLink()">
				           		<label class="io-icon io-radio-select" for="linkButton"> <strong>LINK</strong></label>
				           	</div>
				           	
				           	<div class="row">
				           		<div class="cmpn-title-head col-sm-5">
				             <div class="" id="title"><input type="text" maxlength="20" ng-disabled="vm.buttontype === 'button'" class="" ng-model="vm.customNotificationDetails.dontAllowText" placeholder="Button text"/></div>
				            </div>
				            
				                 <div class="col-sm-4">
				            	<div class="row cmpn-title-head box-clr-pkr">
						         	<div class="col-sm-11 clpkr-clrfloat" style="width: 87%;">
						         	
										      <div id="cp3" class="input-group colorpicker-component colorpicker-element">
										          <input  type="text" value="#00AABB" ng-model="vm.customNotificationDetails.dontAllowBtnColor" class="form-control" placeholder="Text color code">
										          <span class="input-group-addon">
										          	<span class="arrow-bg">
										          		<i style="background-color: {{vm.customNotificationDetails.dontAllowBtnColor}};"></i>
										          		<span class="caret"></span>
										          	</span>
										          </span>
										      </div>
										     </div>
										   
						         	</div>
						         </div> 
				            
				            </div>
				            
				            <div class="border-gray-bot">
				          
				           	<div class="cmpn-title-head" style="width:70%;">
				           		<div class="copycode"><textarea type="text"  maxlength="10000" ng-disabled="true"  class="code-placed" > {{vm.linkCopyCode}}</textarea></div>
				           	</div>
				           
				    		</div>
				            
				          </div>
				         </div>
				         <div class="clear "></div>
				       
				        </div>
				       </div>
				      </div>  
				     </div>
					 </form>
				</div>
				<div class="subscription-button-spance no-border">
					<a ui-sref="iopush.auth.subscriptionLayouts" class="welcome-page"><button class="updrade-btn">Back</button></a>
					<button ng-click="vm.saveCustomNotification(vm.customNotificationDetails)" class="updrade-btn  green-btn pull-right">Save</button>
				</div>
			</div>
		</div>
	
		<div class="col-sm-4">
			<div class="io-box box-shadow subsc-lyot-prv-box">
				<div class="io-box-header">
					<div class="pull-left subscription-preview">
						<div class="heading">PREVIEW</div>
					</div>
				</div>
				<div class="io-page-body pdd-15">
					<div class="text-center">
						<!-- <button class="buttonLinkTxt" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};">{{vm.customNotificationDetails.allowText}}{{vm.customNotificationDetails.dontAllowText}}</button> -->
						<button class="buttonLinkTxt" ng-show="vm.buttontype === 'button'" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
						<div ng-show="vm.buttontype === 'link'" style="color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </div>
					</div>
					<div class="preview-notications button-links-prev hidden">
				
						<!-- Notification Preview Items -->
					<!-- 	<div class="notific-preview overlay">
							<h5>Android <span class="pull-right io-icon subprv-show-hide-btn {{vm.previewBoxOpen.android[1]}}" ng-click="vm.showhidePreview('android');"></span></h5>
							<a ng-show="vm.previewBoxOpen.android[0]" class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div class="subsc-prv-btn">
									<button ng-show="vm.buttontype === 'button'" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
									<div ng-show="vm.buttontype === 'link'" style="color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </div>
								</div>
							</a>
						</div> -->
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview overlay">
							<h5>Chrome <span class="pull-right io-icon subprv-show-hide-btn {{vm.previewBoxOpen.chrome[1]}}" ng-click="vm.showhidePreview('chrome');"></span></h5>
							<a ng-show="vm.previewBoxOpen.chrome[0]" class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div class="subsc-prv-btn">
									<button ng-show="vm.buttontype === 'button'" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
									<div ng-show="vm.buttontype === 'link'" style="color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview overlay">
							<h5>Firefox <span class="pull-right io-icon subprv-show-hide-btn {{vm.previewBoxOpen.firefox[1]}}" ng-click="vm.showhidePreview('firefox');"></span></h5>
							<a ng-show="vm.previewBoxOpen.firefox[0]" class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div class="subsc-prv-btn">
									<button ng-show="vm.buttontype === 'button'" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
									<div ng-show="vm.buttontype === 'link'" style="color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview overlay">
							<h5>Opera <span class="pull-right io-icon subprv-show-hide-btn {{vm.previewBoxOpen.opera[1]}}" ng-click="vm.showhidePreview('opera');"></span></h5>
							<a ng-show="vm.previewBoxOpen.opera[0]" class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div class="subsc-prv-btn">
									<button ng-show="vm.buttontype === 'button'" style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
									<div ng-show="vm.buttontype === 'link'" style="color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}}gfdgdfg </div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<!--<div class="notific-preview">
							<h5>Safari</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div>
									<div class="notify-img">
										<div class="preview-imgbox">
											<img src="{{vm.selectedImage}}"><br>
										</div>
									</div>
									<div class="notify-url">
										<p class="ng-binding">{{vm.headline}}</p>
										<p class="ng-binding">{{vm.textdescription}}</p>
										<p class="ng-binding">{{vm.url}}</p>
									</div>
								</div>
							</a>
						</div>-->
						<!-- Notification Preview Items -->
					</div>
				</div>
			</div>

		</div>


	</div>
</div>