<div class="main">
	<div class="row">
		<div class="col-sm-8">
			<div class="io-box box-shadow">
				<div class="io-box-header">
					<div class="pull-left">
						<div class="heading">
							 ICON LAYOUT CUSTOMISATION
							<div class="io-info-container">
								<div class="io-info-box box-shadow">
									<div class="info-body">
										<p>
											Create a custom notifcation that can be used to display special offers and deals through a little pop up box in the users'
											browser.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		<div class="io-page-body subscription-layout pdd-bot-10">
			<form name="saveForm">
	           <div class="cmpn-container welcome-page">
	               <div class="mrg-bot-20 border-gray-bot pdd-bot-20">
				       <input type="checkbox" name="pushSecond" id="pushSecond" ng-model="vm.customNotificationDetails.checkFlag" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                       <label class="io-icon io-checkbox-uncheck" for="pushSecond"></label> Display push notifications permission box after <input  type="number" step="any" name="second" min="0" value="0" ng-model="vm.customNotificationDetails.delayTime" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" class="sbscrpsn-number" /> seconds.       
				      </div>
				      <div class="row">
				        <div class="col-sm-12">
				         <div class="io-select-img-box">
				          <!-- ngIf: vm.showDetail -->
				          <!--<drop-grid image="vm.selectedImage" images="vm.images"></drop-grid>-->
				          <ul class="nav nav-tabs">
				           <li class="{{vm.imgClass}}"><a ng-click="vm.selectImage()">SELECT ICON</a></li>
				           <li class="{{vm.updImgClass}}"><a ng-click="vm.uploadImage()">UPLOAD</a></li>
				          </ul>
				          <div class="tab-content"> 
				           <div ng-show="vm.isSelectImage">
				            <drop-grid image="vm.customNotificationDetails.logoPath" images="vm.preImages"></drop-grid>
				           </div>
				           <div ng-show="vm.isuploadImage">
				            <drop-builderimg image="vm.customNotificationDetails.logoPath" images="vm.uploadedimage"></drop-builderimg>
				           </div>
				          </div>
				         </div>
				         <div class="add-content-box">
				          <div class="row">
				           <div class="col-sm-12">
				           
				            <div class="cmpn-title-head">
				             <div class="" id="title"><input type="text" maxlength="48" ng-model="vm.customNotificationDetails.title" class="" placeholder="Title"/></div>
				            </div>
				            <div class="cmpn-title-head">
				             <div class="" id="subtitle"><input type="text" maxlength="100" ng-model="vm.customNotificationDetails.message" class="" placeholder="Subtitle" /></div>
				            </div>
				            <div class="cmpn-title-head">
				             <div class="" id="allowBtn"><input type="text" maxlength="10" ng-model="vm.customNotificationDetails.allowText" class="" placeholder="Allow button Text" /></div>
				            </div>
				            <div class="cmpn-title-head border-gray-bot pdd-bot-30">
				             <div class="" id="allowBtn"><input type="text" maxlength="10" ng-model="vm.customNotificationDetails.dontAllowText" class="" placeholder="Block button text" /></div>
				            </div>
				          </div>
				         </div>
				         </div>
				         
				         <div class="clearfix"></div>
				         
				         <div class="row cmpn-title-head box-clr-pkr">
				         <div class="col-sm-12">
				            	<div class="border-gray-bot pdd-bot-20">
				            	<div class="row">
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Background color
					         			
					         			   <div id="cp1" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.popupBackgroundColor" class="form-control" placeholder="Color code">
								          <span class="input-group-addon">
									          <span class="arrow-bg">
									          	<i style="background-color: {{vm.customNotificationDetails.popupBackgroundColor}};"></i>
									          	<span class="caret"></span>
									          </span>
									      </span>
								      </div>
								      
					         	
				         	</div>
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Text color
					         			
					         			 <div id="cp2" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.popupColor" class="form-control" placeholder="Color code">
								          <span class="input-group-addon">
								          	<span class="arrow-bg">
								          		<i style="background-color: {{vm.customNotificationDetails.popupColor}};"></i>
								          		<span class="caret"></span>
								          	</span>
								          </span>
								      </div>
								       
					         		</div></div></div>
				         	</div>
				         </div> 
				         <div class="row cmpn-title-head box-clr-pkr">
				         <div class="col-sm-12">
				            	<div class="border-gray-bot pdd-bot-20">
				            	<div class="row">
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Allow button color
					         			
					         			  <div id="cp3" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.allowBtnBackgroundColor" class="form-control" placeholder="Color code">
								          <span class="input-group-addon">
								          	<span class="arrow-bg">
								          		<i style="background-color: {{vm.customNotificationDetails.allowBtnBackgroundColor}};"></i>
								          		<span class="caret"></span>
								          	</span>
								          </span>
								      </div>
								      
					         		
				         	</div>
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Allow button text color 
					         			
					         			     <div id="cp4" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.allowBtnColor" class="form-control" placeholder="Color code">
								          <span class="input-group-addon">
									          <span class="arrow-bg">
									          	<i style="background-color: {{vm.customNotificationDetails.allowBtnColor}};"></i>
									          	<span class="caret"></span>
									          </span>
									      </span>
								      </div>
								      
					         		</div>
					         		</div>
					         		</div>
				         	</div>
				         </div>
				         <div class="row box-clr-pkr">
				         
				            	
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Block button color 
					         			
					         			   <div id="cp5" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.dontAllowBtnBackgroundColor" class="form-control" placeholder="Color code">
								          <span class="input-group-addon">
								          <span class="arrow-bg">
									          	<i style="background-color: {{vm.customNotificationDetails.dontAllowBtnBackgroundColor}}"></i>
									          	<span class="caret"></span>
								          	</span>
								          </span>
								      </div>
					         	
				         	</div>
				         	<div class="col-sm-3 clpkr-clrfloat">
				         		
					         			Block button text color
					         			
					         			 <div id="cp6" class="input-group colorpicker-component colorpicker-element">
								          <input type="text" value="#00AABB" ng-model="vm.customNotificationDetails.dontAllowBtnColor" class="form-control" placeholder="Color code">
								          	<span class="input-group-addon">
								          		<span class="arrow-bg">
								          			<i style="background-color: {{vm.customNotificationDetails.dontAllowBtnColor}}";"></i>
								          			<span class="caret"></span></span>
								          		</span>
								      </div>
								      
					         		
				         	</div>
				         </div>
				         <div class="clear "></div>
				       
				        
				       </div>
				      </div>  
				     </div>
					 </form>
				</div>
				<div class="subscription-button-spance no-border">
					<a ui-sref="iopush.auth.subscriptionLayouts" class="welcome-page"><button class="updrade-btn">Back</button></a>
					<button ng-click="vm.saveCustomNotification(vm.customNotificationDetails)" class="updrade-btn  green-btn pull-right">Save</button>
				</div>
			</div>
		</div>
	
		<div class="col-sm-4">
			<div class="io-box box-shadow subsc-lyot-prv-box">
				<div class="io-box-header">
					<div class="pull-left">
						<div class="heading">PREVIEW</div>
					</div>
				</div>
				<div class="io-page-body subscription-preview">
					<div class="preview-notications">
						<!-- Notification Preview Items -->
					<!-- 	<div class="notific-preview">
							<h5>Android</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank" style="padding: 10px;">
								<div class="content-icon-sub-box" style="background: {{vm.customNotificationDetails.popupBackgroundColor}};">
									<div class="io-icon web-notification" href="javascript:void(0);" target="_blank"></div><br>
									<div class="notify-url">
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.title}}</div>
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.message}}</div>
									</div>
									<div class="subsc-prv-btn">
										<button style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
										<button style="background: {{vm.customNotificationDetails.dontAllowBtnBackgroundColor}};color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </button>
									</div>
								</div>
								<div class="icon-sub-box clearfix">
									<div class="pull-right iconpreview">
										<img src="{{vm.customNotificationDetails.logoPath}}" width="40"><br>
									</div>
								</div>
							</a>
						</div> -->
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview">
							<h5>Chrome</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank" style="padding: 10px;">
								<div class="content-icon-sub-box" style="background: {{vm.customNotificationDetails.popupBackgroundColor}};">
									<div class="io-icon web-notification" href="javascript:void(0);" target="_blank"></div><br>
									<div class="notify-url">
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.title}}</div>
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.message}}</div>
									</div>
									<div class="subsc-prv-btn">
										<button style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
										<button style="background: {{vm.customNotificationDetails.dontAllowBtnBackgroundColor}};color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </button>
									</div>
								</div>
								<div class="icon-sub-box clearfix">
									<div class="pull-right iconpreview">
										<img src="{{vm.customNotificationDetails.logoPath}}"><br>
									</div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview">
							<h5>Firefox</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank" style="padding: 10px;">
								<div class="content-icon-sub-box" style="background: {{vm.customNotificationDetails.popupBackgroundColor}};">
									<div class="io-icon web-notification" href="javascript:void(0);" target="_blank"></div><br>
									<div class="notify-url">
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.title}}</div>
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.message}}</div>
									</div>
									<div class="subsc-prv-btn">
										<button style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
										<button style="background: {{vm.customNotificationDetails.dontAllowBtnBackgroundColor}};color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </button>
									</div>
								</div>
								<div class="icon-sub-box clearfix">
									<div class="pull-right iconpreview">
										<img src="{{vm.customNotificationDetails.logoPath}}"><br>
									</div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<div class="notific-preview">
							<h5>Opera</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank" style="padding: 10px;">
								<div class="content-icon-sub-box" style="background: {{vm.customNotificationDetails.popupBackgroundColor}};">
									<div class="io-icon web-notification" href="javascript:void(0);" target="_blank"></div><br>
									<div class="notify-url">
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.title}}</div>
										<div class="ng-binding" style="color: {{vm.customNotificationDetails.popupColor}}">{{vm.customNotificationDetails.message}}</div>
									</div>
									<div class="subsc-prv-btn">
										<button style="background: {{vm.customNotificationDetails.allowBtnBackgroundColor}};color: {{vm.customNotificationDetails.allowBtnColor}};"> {{vm.customNotificationDetails.allowText}} </button>
										<button style="background: {{vm.customNotificationDetails.dontAllowBtnBackgroundColor}};color: {{vm.customNotificationDetails.dontAllowBtnColor}};"> {{vm.customNotificationDetails.dontAllowText}} </button>
									</div>
								</div>
								<div class="icon-sub-box clearfix">
									<div class="pull-right iconpreview">
										<img src="{{vm.customNotificationDetails.logoPath}}"><br>
									</div>
								</div>
							</a>
						</div>
						<!-- Notification Preview Items -->
						<!-- Notification Preview Items -->
						<!--<div class="notific-preview">
							<h5>Safari</h5>
							<a class="notifcation-imgurl" href="javascript:void(0);" target="_blank">
								<div>
									<div class="notify-img">
										<div class="preview-imgbox">
											<img src="{{vm.selectedImage}}"><br>
										</div>
									</div>
									<div class="notify-url">
										<p class="ng-binding">{{vm.headline}}</p>
										<p class="ng-binding">{{vm.textdescription}}</p>
										<p class="ng-binding">{{vm.url}}</p>
									</div>
								</div>
							</a>
						</div>-->
						<!-- Notification Preview Items -->
					</div>
				</div>
			</div>

		</div>


	</div>
</div>