<div class="main">
	<div class="row">
	    <div class="col-sm-12 mrg-bot-70">
	        <div class="io-box box-shadow">
	            <div class="io-box-header">
	                <div class="pull-left">
	                    <div class="heading">Confirmation</div>
	                </div>
	            </div>
		       	<div class="row info-body">
		       		<div class="col-sm-6 center-block mrg-top-70 text-center" style="float:none; padding-bottom:110px;">
			       		<img src="images/icons/check.png">
			      		<h3><b>{{vm.formdata.confimation.message}}</b></h3>
			            {{vm.formdata.confimation.description}}
		       		</div>
		        </div>
		    </div>
		</div>
    </div>
</div>