<div class="modal-header">
          <button type="button" class="close closeModal"  ng-click="closeModal()" data-dismiss="modal"><img src="images/icons/closeIcon.png"></button>
          <h4 class="modal-title text-center">Sorry, something went wrong</h4>
        </div>
        <div class="modal-body">
        
            <div class="rgst-box">
              <div class="row">
                <div class="col-sm-12 text-center" style="font-size:12px;">
            Please try again later or contact us at <a href="mailto:contact@iosis.io" 
            style="color: #000; font-weight: bold; text-decoration: underline !important;">contact@iosis.io</a>
                </div>
               
              </div>
             
          </div>
			
        </div>
   
    
