<div class="modal-header">
          <button type="button" class="close closeModal"  ng-click="closeModal()" data-dismiss="modal"><img src="images/icons/closeIcon.png"></button>
          <h4 class="modal-title text-center">Thank you!</h4>
        </div>
        <div class="modal-body">
        
            <div class="rgst-box">
              <div class="row">
                <div class="col-sm-12 text-center" style="font-size:12px; line-height: 25px;">
            Your message has been sent successfully.<br>
We will contact you soon! 
                </div>
               <button class="ok-btn closeModal" ng-click="closeModal()">OK</button>
              </div>
             
          </div>
			
        </div>
   
    
