<div class="col-md-6">
    <div class="io-box box-shadow io-height">
        <div class="io-box-header no-pdd-lt">
       <!--      <div class="pull-left">
                <div class="heading">
                    <i aria-hidden="true" class="io-icon io-info topsite-info"></i> PLATFORMS
                    <div class="io-info-container">
                        <div class="io-info-box box-shadow">
                            <div class="info-body">
                                <p>Overview of platforms being used by your subscriptions and breaks down in percentage and
                                    actual number based on subscription platform preference.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="pull-left">
                <ul class="hdr-left-info no-mrg-lt">
                    <li ng-click="vm.setPlatformType('snapshot')" ng-class="{'important-blue' : vm.platformType == 'snapshot'}"><span class="pltfrm-heading">PLATFORMS SNAPSHOT</span>
                    
                    </li>
                    <li ng-click="vm.setPlatformType('trend')" ng-class="{'important-blue' : vm.platformType == 'trend','rmv-brd': vm.platformType == 'trend'}" style="border-right: 1px solid #dcdcdc; top:1px; position: relative;">
                        <span class="pltfrm-heading">PLATFORMS TRENDS</span>
                    </li>
                </ul>
            </div>

            <div class="pull-right" ng-show="vm.platformType == 'trend'">
                <ul class="hdr-right-info">
                    <li ng-click="vm.oneDay(active)" ng-class="{'important-blue' : vm.chartType == 'day'}" id="1D" style="border-right:none;"><i>TODAY</i></li>
                    <li ng-click="vm.oneWeek(active)" ng-class="{'important-blue' : vm.chartType == 'week'}" id="1W"  style="border-right:none"><i>WEEKLY</i></li>
                    <li ng-class="{'io-calender-d' : !vm.showCal , 'io-calender' : vm.showCal || vm.chartType == 'cal'}" id='trendcalView'>
                        <i cname='io-calender' class="io-icon calender-b-space" aria-hidden="true" ng-class="{'io-calender-d' : !vm.showCal , 'io-calender' : vm.showCal || vm.chartType == 'cal'}"></i>
                    </li>

                </ul>
            </div>
        </div>
		<div class="io-body plt-btn" ng-show="vm.platformType != 'snapshot'">
        <area-chart nextbtnid="vm.nextbtnid" prevbtnid="vm.prevbtnid" config="chartConfig" next="vm.next()"
            previous="vm.previous()" tid='"trendPlatform"' height="224" ></area-chart>
             <div class="view-backward">
	            <i aria-hidden="true" class="io-icon io-backward" ng-click="vm.previous()"></i>
	        </div>
	<div class="view-forward">
	<i aria-hidden="true" class="io-icon io-forward" ng-click="vm.next()"></i>
	</div>
        </div>


            <div ng-show="vm.platformType == 'snapshot'">
            <div class="row">
                <div class="col-sm-5">
                    <donut-chart chart-height='215' chart-width='250' tid="plattrd" style="margin-top: 18px;" chartconfig='vm.trendConfigObj'></donut-chart>
                </div>

                <div class="col-sm-7">
                    <table class="trend-chart" width="100%" cellpadding="0" cellspacing="0">
                        <!-- <thead>
                            <tr>
                                <th width="110" class="heading " colspan="4">NUMBER OF SUBSCRIBERS</th>
                            </tr>
                        </thead> -->
                        <tbody>
                            <tr class="geo-chart" ng-repeat="pf in vm.platforms">
                                <td width="30" style="width:30px;">
                                    <img width="25" ng-src={{pf.platformImg}} />
                                </td>
                                <td width="20">{{pf.platformName}}</td>
                                <td>
                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{(pf.totalusers / vm.totalPlatformUsers) * 100}}%;background-color:{{vm.platformDetail[pf.platformName.toLowerCase()].color}}!important"></div>
                                        </div>
                                    </div>
                                </td>
                                <td width="80">{{pf.totalusers}}</td>
                            </tr>

                        </tbody>

                    </table>

                    <!--<div class="geo-chart-body">
    <table class="geo-chart-box" width="100%" cellpadding="0" cellspacing="0">
      
</table>
</div>-->

                </div>
                </div>
            </div>
    </div>



</div>