<div class="main upgrade-plan-box">
	<div class="row">
	    <div class="col-sm-4">
	        <div class="io-box box-shadow">	
	            <div class="io-page-body">
	            	<div class="plan-singlebox">
	            		<div class="plan-headerbox plan-error">
			 				<div class="text-center">
								<img src="images/icons/error-plans.png" />
							</div>
							<div class="text-center">
								<h5 class="phd-errclr">{{vm.name}}</h5>
								
								<p class="text-center mrg-top-20 mrg-bot-30">
									{{vm.message}} <br>
								</p>
								<div><a ui-sref="iopush.auth.upgradeplan" class="updrade-btn green-btn" >TRY AGAIN</a></div>
							</div>
						</div>
					</div>
	            </div>
	        </div>       
    	</div>
	</div>
</div>