<form id="upload" method="POST" enctype="multipart/form-data" ng-show>
    <fieldset>
        <!--<legend>HTML File Upload</legend>-->
        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
        <div>
            <!--<label for="fileselect">Files to upload:</label>-->
            <input type="file" id="fileselect5" name="fileselect" />
        </div>
        <div id="submitbutton">
            <button type="submit" style="display: none;">Upload Image</button>
        </div>
    </fieldset>
</form>

<div class="notification">
    <div class="row">
        <div id="outerDiv1" class="col-sm-12 text-center">
            <ul style="margin:0px; padding:0px; list-style:none">
                <li ng-click="selectImage(image)" ng-repeat="image in images">
                    <div ng-class="{ 'bg-gray' : image.selected }" class="border-gray-dashed text-center mpd-selected-img">
                    <div style="display: table; margin: auto; position: relative;">
                        <a class="select-image-close" ng-click="removeImage(image)" ng-show="image.imgtype === 'custom'" href>
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
					<img style="max-width:100%; max-height:250px" ng-src="{{image.imageSrc}}" />
                    </div>
					</div>
                </li>
                <li ng-show="showUploadControl()">
                    <div id="filedrag5" ng-click="uploadFromButton()" class="text-center" style="position:relative;">
                       <div class="bg-gray-1 border-dashed-gray pdd-top-bot-15 mrg-15">
                        <img style="width: auto;height: auto;" src="images/icons/addIcon.png">
                        <p class="clr-gray-1 mrg-top-20"><b>DROP IMAGE</b></p>
                        <!-- <button class="upload-btn">upload file</button> -->
                        <p style="color: #706f6f;">Recommended size: 360X240 </p>
                        <div style="position: absolute;top: 0;width: 100%;" ng-click="selectImage(image)" ng-repeat="image in images" class="">
                            <img ng-src="{{image.imageSrc}}" class="" style="width:100%; height: 420px;">
                            <a style="position:absolute;color:red" ng-click="removeImage(image)" ng-show="image.imgtype === 'custom'" href><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                       </div>

                        <div class="text-center clr-green mrg-bot-10">OR BROWSE</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>